<form method="post" action="{{ path('tournoi_delete', {'id': tournoi.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce tournoi?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournoi.id) }}">
    <button class="btn-delete-tournoi">Supprimer</button>
</form>
