{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main class="page-show-tournoi">
    <h1 class="show-title-tournoi">Modifier</h1>
    <div class="card-tournoi-form">
        <div>
            {{ include('tournoi/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
    <div class="btn-form-edit">
        {{ include('tournoi/_delete_form.html.twig') }}
    </div>
    <div class="btn-form-edit">
        <a class="btn-return-tournoi" href="{{ path('tournoi_index') }}">Retour</a>
    </div>
</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
