{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main>
    <h1 class="title-tournaments-index">La liste des tournois</h1>

    <table id="tournaments">
        <thead>
            <tr>               
                <th>Nom</th>
                <th>Code</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tournoi in tournois %}
            <tr>                
                <td>{{ tournoi.nom }}</td>
                <td>{{ tournoi.code }}</td>
                <td>
                    <a class="btn-tournaments-admin" href="{{ path('tournoi_show', {'id': tournoi.id}) }}">Voir plus</a>
                    <a class="btn-edit-tournaments-admin" href="{{ path('tournoi_edit', {'id': tournoi.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container-btn-create-tournament">
        <div>
            <a class="btn-create-tournaments-admin" href="{{ path('tournoi_new') }}">Créer</a>
        </div>
    </div>
</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
