{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main id="container-page-new"> 
    <h1 class="show-title-tournoi">Créer un Tournoi</h1>

    <div class="container-form-blog">
        <div>{{ include('tournoi/_form.html.twig') }}</div>
    </div>
    <a class="btn-return-tournoi" href="{{ path('tournoi_index') }}">Retour</a>

</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
