{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main class="page-show-tournoi">
    <h1 class="show-title-tournoi">Détail tournoi</h1>

    <div class="card-tournoi-show">
        <div>           
            <h2>Nom : {{ tournoi.nom }}</h2>                           
            <p>Code du tournoi : {{ tournoi.code }}</p>            
        </div>
    </div>

    <div class="container-btns-tournoi">
        <div><a class="btn-edit-tournoi" href="{{ path('tournoi_edit', {'id': tournoi.id}) }}">Modifier</a></div>

        <div>{{ include('tournoi/_delete_form.html.twig') }}</div>
    
        <div><a class="btn-return-tournoi" href="{{ path('tournoi_index') }}">Retour</a></div>
    </div>
</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
