{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
{% include "./partials/navSite.html.twig" %}
<div class="page-login-form">
    <div class="login-container-form">
        <div class="login-form">
        <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="title-login-form">Connexion</h1>
        <div class="login-form-block">
            <label for="inputEmail">Courriel</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        </div>
        <div class="login-form-block">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >
        </div>
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="register-login-button-form">
            <button class="login-btn-form" type="submit">
                Connexion
            </button>
        </div>

        </form>
        </div>
    </div>
</div>
{% endblock %}
