{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
{% include "./partials/navSite.html.twig" %}

<div class="block-about">
    <h2 class="title-about">&Agrave; Propos</h2>
    <div class="block-text-about">
        <p class="text-about">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio quisquam voluptatem eius quibusdam aspernatur ipsum, cum quod dolorem accusamus corporis ipsa atque recusandae, rerum dicta quae. Atque ex exercitationem assumenda?
        Eum id neque inventore saepe minus molestiae, quia, dolorum iste eveniet quod vero incidunt vitae aliquid nulla numquam expedita aliquam consequatur dignissimos nam optio voluptas, dicta dolore laborum. Ab, mollitia.
        Saepe enim, dolor est ad maiores sint perferendis facilis. Odio cupiditate magnam dolorem eum consequuntur ratione sunt delectus nostrum totam, voluptatibus distinctio repellat amet autem impedit explicabo. Tempora, dolores debitis.
        Id, atque blanditiis.Maxime dolor.</p>
    </div>
</div>
{% endblock %}