{% extends 'base.html.twig' %}

{% block title %}Le blog{% endblock %}

{% block body %}
{% include "./partials/navSite.html.twig" %}

<div class="blog">
  <h1 class="title-blog">Le blog</h1>
  <div class="blog-post-list">
    {% for post in posts %}
    <div class="blog-post-card">
      <div class="card" style="width: 18rem">
        <div class="blog-post-body">
          <h4 class="blog-post-title">{{ post.titre }}</h4>
          <div class="blog-post-text"><p>{{ post.texte|slice(0,87) }}</p></div>
            <div class="block-btn">
              <div>
                <a
                href="{{ path('app_show_blog', { id: post.id }) }}"
                class="btn"
                >Plus de détails</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
 {% set pages = ((total / limit)|round(0, 'ceil')) %}

  <nav class="pagination-block" aria-label="...">
    <ul class="pagination-home">
      <li class="lien-pagination {{ page == 1 ? 'disabled' : '' }}">
        <a
          class="lien"
          href="{{ (page > 1 ) ? '?page='~ (page - 1) : '' }}"
          >Previous</a>
      </li>
      {% for item in 1..pages %}
      <li class="lien-pagination {{ page == item ? 'active' : '' }}">
        <a class="lien" href="?page={{ item }}">{{ item }}</a>
      </li>
      {% endfor %}
      <li class="lien-pagination {{ page == pages ? 'disabled' : '' }}">
        <a
          class="lien"
          href="{{ (page < pages ) ? '?page='~ (page + 1) : '' }}"
          >Next</a>
      </li>
    </ul>
  </nav>

{% endblock %}