{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Titre') }}
{% endblock %}
{% block body %}
<div class="home-page">
{% include "./partials/navSite.html.twig" %}
    <div id="titre">              
        <titre></titre>
    </div>
    
    <div class="home-container-accueil">
       <h2 class="">Êtes-vous inscrits ?</h2>
       <div><a class="btn-home-registration" href="{{ path('app_register') }}">Inscription</a></div>
       <h2>Vous avez un compte ?</h2>
       <div><a class="btn-home-connetion" href="{{ path('app_login') }}">Connexion</a></div>  
    </div>
</div>
{% endblock %}
