{% extends 'base.html.twig' %}

{% block title %}Le blog{% endblock %}
{% block body %}
{% include "./partials/navSite.html.twig" %}
<div class="blog-show-container">
    <div class="blog-show-card">
      <div class="card" style="width: 18rem">
        <div class="blog-show-body">
          <h3 class="blog-show-title">{{ post.titre }}</h3>
          <span><em>Date :</em> {{ post.datePost|date('d m Y') }}</span>
          <p class="blog-show-text">{{ post.texte }}</p>          
        </div>
        <div><a class="blog-show-btn" href="{{ path('app_home_blog') }}">Retour</a></div> 
      </div>
    </div>
</div>
{% endblock %}