{% extends 'base.html.twig' %}

{% block title %}inscription{% endblock %}

{% block body %}
{% include "./partials/navSite.html.twig" %}

<div class="page-register-form">
<h2 class="register-titre-h2">Inscription</h2>
<div class="register-container-form">
    <div class="register-form">
        {{ form_start(registrationForm) }}
            <div class="register-input-form">
                {{ form_label(registrationForm.nom) }}
                {{ form_widget(registrationForm.nom) }}
                {{ form_errors(registrationForm.nom) }}
            </div>
            <div class="register-input-form">
                {{ form_label(registrationForm.prenom) }}
                {{ form_widget(registrationForm.prenom) }}
                {{ form_errors(registrationForm.prenom) }}
            </div>
             <div class="register-input-form">
                {{ form_label(registrationForm.email) }}
                {{ form_widget(registrationForm.email) }}
                {{ form_errors(registrationForm.email) }}
            </div>    
            <div class="register-input-form">        
                {{ form_label(registrationForm.plainPassword.first) }}
                {{ form_widget(registrationForm.plainPassword.first) }}
                {{ form_errors(registrationForm.plainPassword.first) }}
            </div> 
             <div class="register-input-form">        
                {{ form_label(registrationForm.plainPassword.second) }}
                {{ form_widget(registrationForm.plainPassword.second) }}
                {{ form_errors(registrationForm.plainPassword.second) }}
            </div>  
            <div class="register-input-button-form">
                <button type="submit" class="btn-register">Valider</button>
            </div>
        {{ form_end(registrationForm) }}
        <div class="register-input-form"> 
            <p class="message-form">(*) champs obligatoires</p>
        </div>
    </div>
</div>
</div>
{% endblock %}
