
<nav id="nav-admin">
 
    <ul class="navAdmin-ul hidden" id="menu-admin">
      <li class="navAdmin-li"><a href="{{ path("admin")}}">Administration</a></li>
      <li class="navAdmin-li"><a href="{{ path("admin_users_index")}}">Gestion des utilisateurs</a></li>
      <li class="navAdmin-li"><a href="{{ path("tournoi_index")}}">Gestion des tournois</a></li>  
      <li class="navAdmin-li"><a href="{{ path("admin_profil") }}">Profil</a></li>
      <li class="navAdmin-li-logout"><a href="{{ path("app_logout")}}">Déconnexion</a></li>       
    </ul>        
    <div id="burger-admin" class="btn-admin"><img id="img-admin" src="{{ asset("images/menu.png") }}" alt="image qui indique le menu"></div>      
     
</nav>
