<nav id="navProfil">
 
    <ul class="navProfil-ul hidden" id="menu">
      <li class="navProfil-li"><a href="{{ path("joueur_index")}}">Gestion des joueurs</a></li>
      <li class="navProfil-li"><a href="{{ path("joueur_match")}}">Gestion des matchs</a></li>
      <li class="navProfil-li"><a href="{{ path("blog_index")}}">Gestion du blog</a></li>  
      <li class="navProfil-li"><a href="{{ path("profil")}}">Profil</a></li>
      <li class="navProfil-li-logout"><a href="{{ path("app_logout")}}">Déconnexion</a></li>       
    </ul>        
    <div id="burger" class="btn-profil"><img id="image-profil" src="{{ asset("images/menu.png") }}" alt="image qui indique le menu"></div>      
     
</nav>