<div class="navbar-container"> 
  <nav class="navHome">
    <div class="navHome-bloc">
      <ul class="navHome-ul">
        <li class="navHome-li"><a href="{{ path("app_home")}}">Home</a></li>
        <li class="navHome-li"><a href="{{ path("app_home_blog")}}">Blog</a></li>  
        <li class="navHome-li"><a href="{{ path("app_about")}}">About</a></li>
      </ul>
    </div>
  </nav>
</div>