{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}  
<main>


<h1 id="title-page-profil-info">Vos informations personelles</h1>

<div class="container-page-pass">
    <div class="block-form-pass">
        <div class="form-pass-profil">
            {{ include('profil/_form.html.twig', {'button_label': 'Modifier'}) }}

      
            <a href="{{ path('profil') }}">Retour</a>
        </div>
    </div>
</div>

</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}