{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}  
<main>
    <div class="block-user-title">
        <h2 id="title-profil-user">Bonjour, {{ user.prenom }} {{ user.nom }} </h2>
    </div>
    <div class="container-btn-profil">
        <div class="btn-profil-user"><a href="{{ path('profil_password') }}">Modifier Votre mot de passe</a></div>
        <div class="btn-profil-user"><a href="{{ path('profil_users_edit', {'id': user.id}) }}">Modifier vos informations</a></div>
    </div>
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
