{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}  
<main>
{% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
{% endfor %}
{% for messageError in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ messageError }}
        </div>
{% endfor %}
<div class="container-page-pass">
    <div class="block-form-pass">
        <div class="form-pass-profil">
            
            {{ include('profil/_form.html.twig', {'button_label': 'Modifier'}) }}
            

            <div class="block-btn-profil"><a href="{{ path('profil') }}">Retour</a></div>
        </div>
    </div>
</div>
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}