{{ form_start(form) }}    
    <div class="profil-input-form">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>
    <div class="profil-input-form">
        {{ form_label(form.prenom) }}
        {{ form_widget(form.prenom) }}
        {{ form_errors(form.prenom) }}
    </div>
    <div class="profil-input-genre">        
        {{ form_widget(form.genre) }}
        {{ form_errors(form.genre) }}
    </div>
     <div class="profil-input-form">
        {{ form_label(form.description) }}
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </div>
    <div class="block-btn-submit"><button id="btn-edit">{{ button_label|default('Valider') }}</button></div>
{{ form_end(form) }}
