{% extends 'base.html.twig' %}

{% block title %}Ajouter un joueur{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}
   
<main>
    <div class="page-form-joueur-profil">
        <h1 class="title-page-h1">Modifier les informations</h1>
        <div class="container-form-profil">
            {{ include('joueur/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
    </div>
    <div class="block-btn-delete">
        <div>{{ include('joueur/_delete_form.html.twig') }}</div>
    </div> 
    <div class="block-btn-return">
        <div><a class="lien-a-return" href="{{ path('joueur_index') }}">Retour</a></div>
    </div>   
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
