{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}
{% block body %}
{% include "./partials/navProfil.html.twig" %}
   
<main>
 {% for message in app.flashes('error') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
{% endfor %}

<div class="players-page">
<div class="container-title-h1"><h1 id="players-title-h1">Gestion des joueurs de tennis</h1></div>
<div class="add-player"><a class="btn-add-player" href="{{ path('joueur_new') }}">Ajouter un joueur</a></div>
    <div class="players-container">

            {% for joueur in joueurs %}
                <div class="player-card">
                    <div class="player-identity">
                        <h3 class="player-title">{{ joueur.prenom }} {{ joueur.nom }}</h3>
                        <span><span class="mark-playeur">Genre:</span> {{ joueur.genre }}</span>                        
                    </div>
                    <div class="player-description">
                        <p>{{ joueur.description|slice(0,90) }} ...</p>
                    </div>
                    <div class="player-choice">
                        <div><a class="btn-player-detail" href="{{ path('joueur_show', {'id': joueur.id}) }}">Détail</a>
                        <a class="btn-player-modif" href="{{ path('joueur_edit', {'id': joueur.id}) }}">Modifier</a></div>
                    </div>
                </div>
            {% else %}
                <div class="players-no-result">
                    <p>Aucun résultat !</p>
                </div>
            {% endfor %}
    </div>        
</div>
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
