{% extends 'base.html.twig' %}

{% block title %}New Joueur{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}
<main>
    <div class="page-form-joueur-profil">
        <h1 class="title-page-h1">Ajouter un joueur de tennis</h1>
         <div class="container-form-profil">
            {{ include('joueur/_form.html.twig') }}
        </div>
        <div class="block-btn-return">
            <div>
                <a href="{{ path('joueur_index') }}" class="lien-a-return">Retour</a>
            </div>
        </div>
    </div>
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
