{% extends 'base.html.twig' %}

{% block title %}Joueur{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}
   

<div class="player-container-show">
     <div class="player-card-show">
        <div class="player-identity">
            <h3 class="player-title-show">{{ joueur.prenom }} {{ joueur.nom }}</h3>
            <span><span class="mark-playeur">Genre:</span> {{ joueur.genre }}</span>                        
        </div>
        <div class="player-description-show">
            <p>{{ joueur.description }}</p>
        </div>
        <div class="player-choice">
            <div><a class="btn-player-modif" href="{{ path('joueur_edit', {'id': joueur.id}) }}">Modifier</a></div>  
            <div class="btn-container-delete">{{ include('joueur/_delete_form.html.twig') }}</div>          
            <div class="btn-container-return"><a class="btn-player-return" href="{{ path('joueur_index') }}">Retour</a></div>
        </div>
    </div>
</div>

    
    {{ encore_entry_script_tags('nav') }}
{% endblock %}
