{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

{% include "./partials/navAccueilAdmin.html.twig" %}
<main>

    <div class="admin-home-page">
        <h1 id="title-admin-index">Gestion du site</h1>
        
        <div class="container-btn-admin">
            <div class="container-admin-btn">
                <div><a href="{{ path("admin") }}"><svg xmlns="http://www.w3.org/2000/svg" id="img-home" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg></a></div>
                <p>Accueil</p>
            </div>
            <div class="container-admin-btn">
                <div><a href="{{ path("admin_users_index") }}"><svg xmlns="http://www.w3.org/2000/svg" id="img-user" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg></a></div>
                <p>Gestion des comptes</p>
            </div>
            <div class="container-admin-btn">
                <div><a href="{{ path("tournoi_index") }}"><svg xmlns="http://www.w3.org/2000/svg" id="img-tournament" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M2 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V4zM8 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H9a1 1 0 01-1-1V4zM15 3a1 1 0 00-1 1v12a1 1 0 001 1h2a1 1 0 001-1V4a1 1 0 00-1-1h-2z" />
                </svg></a></div>
                 <p>Gestion des tournois</p>
            </div>
        </div>
    </div>

</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
