{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

{% include "./partials/navAdmin.html.twig" %}
<main class="page-show-users">
    <div>
        <h1 class="show-title-users">Vos informations personnelles</h1>

        <div id="admin-perso-informations">
            <ul>
                <li>Votre nom : {{ user.nom }}</li>
                <li>Votre prénom : {{ user.prenom }}</li>
                <li>Votre E-mail : {{ user.email }}</li>
            </ul>
        </div>
    </div>
</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
