
{{ form_start(form) }}
    <div>
        {{ form_widget(form) }}
    </div>
    <div><button class="btn-edit-tournoi">{{ button_label|default('Enregister') }}</button></div>        
   
{{ form_end(form) }}
