{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main class="page-show-users">

    <h1 class="show-title-users">Modifier le compte</h1>
    <div class="container-form-users">
        {{ include('admin_users/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <div>
        {{ include('admin_users/_delete_form.html.twig') }}
    </div>
    <div class="btn-container-users-show">
        <a id="admin-users-show" href="{{ path('admin_users_index') }}">Retour</a>
    </div>
</main>
{% endblock %}
