{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main>

    <h1 id="title-admin-index">Comptes utilisateurs</h1>

    <table id="users">
        <thead>
            <tr>               
                <th class="">Nom</th>
                <th class="">Prenom</th>
                <th class="">Email</th>
                <th class="">Détail ou modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="container-btn-users-table">
                        <div><a id="admin-users-show" href="{{ path('admin_users_show', {'id': user.id}) }}">Voir plus</a></div>
                        <div><a id="admin-users-edit" href="{{ path('admin_users_edit', {'id': user.id}) }}">Modifier</a></div>                
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</main>  
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
