{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
{% include 'partials/navAdmin.html.twig'%}
<main class="page-show-users">
    <h1 class="show-title-users">Détail du compte</h1>
    <div class="card-users-show">
        <div>           
            <h2>Nom : {{ user.nom }}</h2>                           
            <p>Prénom : {{ user.prenom }}</p>            
            <p>E-mail : {{ user.email }}</p>            
        </div>
    </div>   
    <div class="btn-container-users-show">
        <span>Modifier le compte : </span><a class="admin-users-show-edit" href="{{ path('admin_users_edit', {'id': user.id}) }}">Confirmer</a>
    </div>
    <div class="btn-container-users-show">
        {{ include('admin_users/_delete_form.html.twig') }}
    </div>
    <div class="btn-container-users-show">
        <a id="admin-users-show" href="{{ path('admin_users_index') }}">Retour</a>
    </div>
</main>
{{ encore_entry_script_tags('navAdmin') }}
{% endblock %}
