<form method="post" action="{{ path('joueur_match_delete', {'id': match.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette donnée?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ match.id) }}">
    <button class="btn-delete">Supprimer</button>
</form>
