{% extends 'base.html.twig' %}

{% block title %}Les matchs{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}
   
<main>

<div class="page-match-container">
    <div class="container-title-h1"><h1 id="players-title-h1">Gestion des matchs</h1></div>

        <div class="add-match"><div><a href="{{ path('joueur_match_new') }}" class="btn-add-player">Ajouter un match</a></div></div>
  
        <div class="matchs-container">
        {% for match in matchs %}
            <div class="match-card">
                <h2 class="match-tournament">Tournoi : {{ match.tournoi }}</h2>
                <h4 class="match-winner">Vainqueur : {{ match.vainqueur }}</h4>
                <p class="match-type-tournament">{{ match.TypeTournoi }}</p>
                <p>{{ match.date|date('d-m-Y') }}</p>
                <div class="match-container-action">
                   <div class="btn-container-match"><a href="{{ path('joueur_match_show', {'id': match.id}) }}" class="btn-player-detail">Plus</a></div>                   
                   <div class="btn-container-match"><a href="{{ path('joueur_match_edit', {'id': match.id}) }}" class="btn-player-modif">Modifier</a></div>
                </div>
            </div>
        {% else %}
            <p>
               Aucun résultat affiché
            </p>
        {% endfor %}
       </div>

</div>
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
