{% extends 'base.html.twig' %}

{% block title %}Les matchs{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}
   
<main>
    <h1 class="match-title-h1">Ajouter un match</h1>
<div class="container-form-match">
    <div class="form-match">
    {{ form_start(form) }}
       
        <div class="form-profil-block">
            <label for="titre" class="col-sm-2 col-form-label">Tournoi ATP ou WTA :</label>
            {{ form_widget(form.typeTournoi, {'attr': {"class" : "form-profil-match"}}) }}
            {{ form_errors(form.typeTournoi) }}
        </div>
        <div class="form-profil-block">
            <label for="date">Année d'organisation :</label>
            {{form_widget(form.date, {'attr': {"class" : "form-profil-match"}})}}
            {{ form_errors(form.date) }}
        </div>
        <div class="form-profil-block-tournoi">
            <label id="color-label-match" for="tournoi">Le tournoi :</label>
            {{form_widget(form.tournoi, {'attr': {"class" : "form-profil-match"}})}}
            {{ form_errors(form.tournoi) }}
        </div>
        <div class="form-profil-block">
            <label for="vainqueur">Le vainqueur du tournoi :</label>
            {{form_widget(form.vainqueur, {'attr': {"class" : "form-profil-match"}})}}
            {{ form_errors(form.vainqueur) }}
        </div>

        <div class="container-btn-add"><button class="btn">{{ button_label|default('Ajouter') }}</button></div>
    {{ form_end(form) }}
    </div>
</div>
</main>
<div class="block-match-return">
    <div><a href="{{ path('joueur_match') }}">Retour</a></div>
</div>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
