{% extends 'base.html.twig' %}

{% block title %}Match{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}
   
<main>
<h1 class="match-title-h1">Le match en détail</h1>
<div class="show-container">
    <div class="match-card">
        <h2 class="match-tournament">Tournoi : {{ match.tournoi }}</h2>
        <h4 class="match-winner">Vainqueur : {{ match.vainqueur }}</h4>
        <p class="match-type-tournament">{{ match.TypeTournoi }}</p>
        <p>Date : {{ match.date|date('d-m-Y') }}</p>
        <div class="match-container-action">
            <div class="btn-container-match"><a href="{{ path('joueur_match_edit', {'id': match.id}) }}" class="btn-player-modif">Modifier</a></div>
            <div> {{ include('joueur_match/_delete_form.html.twig') }}</div>             
            <div class="btn-container-match"><a href="{{ path('joueur_match') }}">Retour</a></div>      
        </div>
    </div> 
</div>
</main>

{{ encore_entry_script_tags('nav') }}
{% endblock %}
