<form method="post" action="{{ path('blog_delete', {'id': blogpost.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ blogpost.id) }}">
    <button class="btn-delete">Supprimer</button>
</form>
