{{ form_start(form) }}    
      <div class="form-profil-block">
            <label for="titre" class="label-blog">Titre:</label>
            {{ form_widget(form.titre, {'attr': {"class" : "form-profil-blog"}}) }}
            {{ form_errors(form.titre) }}
      </div>
      <div class="form-profil-block">
            <label for="texte">Texte:</label>
            {{form_widget(form.texte, {'attr': {"class" : "form-profil-blog"}})}}
            {{ form_errors(form.texte) }}
      </div>
      <div class="block-btn-new-blog">
            <button class="btn-new-blog">{{ button_label|default('Enregistrer') }}</button>
      </div>
    
{{ form_end(form) }}
