{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}  

<main id="container-page-new">
     <div><h1 class="blog-show-title">Modifier l'article</h1></div>

    <div class="container-form-blog">        
        <div>{{ include('blog/_form.html.twig', {'button_label': 'Modifier'}) }}</div>   
        <div id="block-btn-delete">{{ include('blog/_delete_form.html.twig') }}</div>
    </div>

    <div class="block-return"><a href="{{ path('blog_index') }}">Retour</a></div>

</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
