{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
{% include "./partials/navProfil.html.twig" %}  
<main>   
<div class="blog-show-container">
    <div class="blog-profil-card">
      <div class="card" style="width: 18rem">
        <div class="blog-show-body">
          <h3 class="blog-show-title">{{ blogpost.titre }}</h3>
          <span><em>Date :</em> {{ blogpost.datePost|date('d m Y') }}</span>
          <p class="blog-show-text">{{ blogpost.texte }}</p>          
        </div>
        <div><a class="blog-show-btn" href="{{ path('blog_index') }}">Retour</a></div> 
      </div>
    </div>
</div>    

    <div class="block-btn-blog">
        <div><a href="{{ path('blog_edit', {'id': blogpost.id}) }}" class="btn-edit">Modifier</a></div>
    </div>
    <div class="block-btn-blog">
        <div>{{ include('blog/_delete_form.html.twig') }}</div>
    </div>
    
</main>
{{ encore_entry_script_tags('nav') }}
{% endblock %}
