/* navbar admin */

#nav-admin {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(230, 176, 0);
}
.navAdmin-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  height: 100%;
}
.navAdmin-li a {
  background-color: #cc5709;
  cursor: pointer;
  color: white;
  text-align: center;
  margin-right: 1em;
  padding: 0 2rem;
  text-decoration: none;
}
.navAdmin-li a:hover {
  background-color: rgb(243, 69, 39);
  color: #111;
}
.navAdmin-li-logout a {
  background-color: #970303;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-right: 1em;
  padding: 0 2rem;
  text-decoration: none;
  border-radius: 5px;
}
.navAdmin-li-logout a:hover {
  background-color: rgb(231, 0, 0);
}
.btn-admin {
  display: none;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 5px;
  color: #000;
  font-size: 18px;
  width: 25px;
}
#img-admin {
  width: 30px;
}
#img-admin:hover {
  pointer-events: pointer;
}

@media screen and (max-width: 1100px) {
  .hidden {
    visibility: hidden;
  }
  .btn-admin {
    display: block;
  }
  .navAdmin-ul {
    display: block;
    flex-direction: column;
  }
  .navAdmin-li a {
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 45%;
  }
}
/* fin navbar */
/* page admin accueil */

main {
  padding-top: 60px; /* Correspond à la taille du header */
  margin: 0 auto;
}

/* fin accueil */

.container-btn-admin {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-admin-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-admin-index {
  color: rgb(231, 27, 0);
  text-align: center;
  font-size: 23px;
  margin-right: 2em;
}
@media screen and (max-width: 900px) {
  .container-btn-admin {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #title-admin-index {
    color: rgb(231, 27, 0);
    text-align: center;
    font-size: 20px;
    margin-right: 0em;
  }
}
#img-user {
  height: 50px;
  width: 50px;
  color: rgb(170, 4, 4);
}
#img-user:hover {
  color: rgb(29, 5, 133);
}
#img-tournament {
  height: 50px;
  width: 50px;
  color: rgb(245, 147, 0);
}
#img-tournament:hover {
  color: rgb(196, 117, 0);
}
#img-home {
  height: 50px;
  width: 50px;
  color: rgb(2, 126, 22);
}
#img-home:hover {
  color: rgb(54, 153, 83);
}

/* gestion des utilisateur */

/* partie show */
.page-show-users {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-users-show {
  background-color: rgb(236, 173, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1);
  width: 40%;
  margin: 1em 0 1em 0;
  padding: 5px;
}
.show-title-users {
  color: rgb(0, 111, 131);
  text-decoration: underline;
}
.btn-container-users-show {
  margin: 0.4em 0 0.4em 0;
}
.admin-users-show-edit {
  color: rgb(0, 111, 131);
  text-decoration: none;
}
.admin-users-show-edit:hover {
  color: rgb(8, 2, 85);
  text-decoration: underline;
}
/* partie index */

#users {
  width: 100%;
}
#users td,
#users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even) {
  background-color: #f2f2f2;
}

#users tr:hover {
  background-color: #ddd;
}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(231, 123, 0);
  color: white;
}
.container-btn-users-table {
  display: flex;
  flex-direction: column;
}
#admin-users-show {
  color: rgb(1, 121, 101);
  text-decoration: none;
  padding: 0.4em;
}
#admin-users-show:hover {
  color: rgb(0, 175, 146);
  text-decoration: underline;
}
#admin-users-edit {
  color: rgb(93, 1, 121);
  text-decoration: none;
  padding: 0.4em;
}
#admin-users-edit:hover {
  color: rgb(126, 4, 163);
  text-decoration: underline;
}
/* partie form users */
.container-form-users {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 173, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1);
  width: 40%;
  margin: 1em 0 1em 0;
  padding: 5px;
}
.container-form-users label {
  margin: 0.5em 0.2em 0.5em 0;
}
/* partie tournoi */

/* partie index tournoi */
#tournaments {
  width: 100%;
}
#tournaments td,
#tournaments th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tournaments tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tournaments tr:hover {
  background-color: #ddd;
}

#tournaments th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(0, 111, 131);
  color: white;
}
.btn-tournaments-admin {
  background-color: rgb(226, 212, 8);
  color: rgb(2, 2, 2);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
}
.btn-tournaments-admin:hover {
  background-color: rgb(180, 168, 2);
}
.btn-edit-tournaments-admin {
  background-color: rgb(8, 12, 226);
  color: rgb(250, 236, 236);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
}
.btn-edit-tournaments-admin:hover {
  background-color: rgb(46, 0, 133);
}
.btn-create-tournaments-admin {
  background-color: rgb(5, 141, 27);
  color: rgb(219, 219, 219);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
}
.btn-create-tournaments-admin:hover {
  background-color: rgb(6, 185, 0);
}
.container-btn-create-tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}
.title-tournaments-index {
  text-align: center;
  color: rgb(0, 111, 131);
  font-size: 22px;
}

/* formulaire de création tournoi */

#container-page-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-form-tournament {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.block-return {
  margin: 1em 0 1em 0;
}
.container-form-tournament {
  background-color: rgb(236, 173, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1);
  width: 40%;
  margin: 1em 0 1em 0;
}
.btn-form-edit {
  margin-top: 15px;
  margin-bottom: 10px;
}
.card-tournoi-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 173, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1);
  width: 40%;
  margin: 1em 0 1em 0;
  padding: 5px;
}
/* fin de formulaire de création */
/* page show  */

.page-show-tournoi {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-tournoi-show {
  background-color: rgb(236, 173, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1);
  width: 40%;
  margin: 1em 0 1em 0;
  padding: 5px;
}
.card-tournoi-show h2 {
  color: rgb(0, 111, 131);
}
.card-tournoi-show p {
  font-weight: bold;
}
.btn-edit-tournoi {
  background-color: rgb(226, 212, 8);
  color: rgb(2, 2, 2);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 2px;
}
.btn-edit-tournoi:hover {
  background-color: rgb(180, 168, 2);
  cursor: pointer;
}
.btn-return-tournoi {
  background-color: rgb(8, 12, 226);
  color: rgb(250, 236, 236);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
}
.btn-return-tournoi:hover {
  background-color: rgb(46, 0, 133);
}
.container-btns-tournoi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0;
}
.container-btns-tournoi div {
  margin: 0.5em 0 0.5em 0;
}
.btn-delete-tournoi {
  background-color: rgb(226, 8, 8);
  border-color: rgb(226, 8, 8);
  color: rgb(255, 255, 255);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
}
.btn-delete-tournoi:hover {
  background-color: rgb(109, 5, 5);
  cursor: pointer;
}
.show-title-tournoi {
  color: rgb(0, 111, 131);
  text-decoration: underline;
}
/* fin partie show */
/*  partie admin perso */
#admin-perso-informations {
  background-color: rgb(233, 225, 111);
  color: rgb(2, 2, 2);
  padding: 0.3em;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 2px;
}
#admin-perso-informations ul {
  list-style: none;
}
