/* partie blog article liste  les classes : blog-post-card, blog-post-body, blog-post-title et btn*/
.blog-post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.blog-post-card {
  background-color: rgb(230, 231, 148);
  border-radius: 1em;
  height: 12em;
}
.blog-post-title {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 61, 13);
  margin-bottom: 0px;
}
.blog-post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0 5px;
}
.btn {
  text-align: center;
  text-decoration: none;
  background-color: rgb(117, 199, 117);
  color: rgb(244, 245, 201);
  border-radius: 5px;
  padding: 5px;
}
.btn:hover {
  background-color: rgb(2, 61, 13);
  transition-delay: 250ms;
}
.block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-blog-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 1em 0;
}
.btn-create-post {
  background-color: rgb(2, 61, 13);
  color: white;
  border-radius: 1em;
  padding: 0.5em;
  text-decoration: none;
}
.btn-create-post:hover {
  background-color: rgb(8, 151, 35);
  cursor: pointer;
}
@media screen and (max-width: 775px) {
  .blog-post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/* partie show */

.blog-profil-card {
  background-color: rgb(245, 247, 170);
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
}
.block-btn-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0 1em 0;
}
.btn-edit {
  background-color: rgb(194, 126, 0);
  color: white;
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
  text-decoration: none;
}
.btn-edit:hover {
  background-color: rgb(236, 173, 0);
  text-decoration: none;
  color: white;
}
/* partie new */

#container-page-new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-form-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.block-return {
  margin: 1em 0 1em 0;
}
.container-form-blog {
  background-color: rgb(236, 173, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(1, 1, 1);
  width: 40%;
  margin: 1em 0 1em 0;
}
.block-return a {
  color: rgb(255, 255, 255);
  background-color: rgb(133, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5em 0.5em 0.5em 0.5em;
}
.block-return a:hover {
  background-color: rgb(184, 0, 0);
}
.btn-new-blog {
  background-color: rgb(23, 168, 18);
  border-color: rgb(23, 168, 18);
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 3px;
  margin: 0 0 1em 0;
}
#block-btn-delete {
  margin: 0.5em 0;
}
@media screen and (max-width: 775px) {
  .container-form-blog {
    width: 15em;
  }
}
