/* partie home */

body {
  padding: 0;
  margin: 0;
}
.home-container-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#titre {
  text-align: center;
}
#title-app {
  color: rgb(117, 199, 117);
}
.btn-home-registration {
  background-color: rgb(106, 106, 255);
  text-decoration: none;
  border-radius: 5px;
  color: white;
  padding: 7px;
}
.btn-home-registration:hover {
  background-color: rgb(11, 11, 136);
}
.btn-home-connetion {
  background-color: rgba(255, 236, 67, 0.973);
  text-decoration: none;
  border-radius: 5px;
  color: rgb(22, 22, 22);
  padding: 7px;
}
.btn-home-connetion:hover {
  background-color: rgba(207, 187, 2, 0.973);
}
.home-page {
  display: flex;
  flex-direction: column;
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #a8ff78,
    #78ffd6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a8ff78, #78ffd6);
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

/* navbar home plus blog */
/* navHome-ul  navHome-li */
.navbar-container {
  margin-bottom: 3em;
}
.navHome {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #333;
  margin: 0;
  height: 3em;
  margin-bottom: 1em;
}
.navHome-bloc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
ul .navHome-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  overflow: hidden;
}

.navHome-li {
  display: inline-block;
}
.navHome-li a {
  display: block;
  background-color: #5c5b5b;
  color: white;
  text-align: center;
  margin-right: 1em;
  padding: 0 4rem;
  text-decoration: none;
}
.navHome-li a:hover {
  background-color: #111;
}

@media screen and (max-width: 600px) {
  .navHome-li a {
    color: white;
    text-align: center;
    margin-right: 0px;
    padding: 0 1rem;
    text-decoration: none;
  }
}

/* fin navbar */

/* page blog */

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-blog {
  color: rgb(117, 199, 117);
}
/* partie blog article liste  les classes : blog-post-card, blog-post-body, blog-post-title et btn*/
.blog-post-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.blog-post-card {
  background-color: rgb(230, 231, 148);
  border-radius: 1em;
  height: 12em;
}
.blog-post-title {
  text-decoration: underline;
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 61, 13);
  margin-bottom: 0px;
}
.blog-post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-post-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding: 0 5px;
}
.btn {
  text-align: center;
  text-decoration: none;
  background-color: rgb(117, 199, 117);
  color: rgb(244, 245, 201);
  border-radius: 5px;
  padding: 5px;
}
.btn:hover {
  background-color: rgb(2, 61, 13);
  transition-delay: 250ms;
}
.block-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 775px) {
  .blog-post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* fin blog article liste */

/* pagination */
/* class = pagination-home lien-pagination */
.pagination-block {
  margin-top: 5em;
  margin-bottom: 2em;
}
.pagination-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.lien {
  text-decoration: none;
  margin: 3px;
  padding: 3px;
}
.lien:hover {
  background-color: rgb(14, 73, 139);
  color: white;
}
.active .lien {
  color: white;
}
.active {
  font-weight: bold;
  background-color: rgba(192, 3, 3, 0.945);
  pointer-events: none;
  cursor: default;
}
.active:hover {
  background-color: rgba(192, 3, 3, 0.945);
}
.disabled {
  pointer-events: none;
  cursor: default;
  color: white;
}

/* fin pagination */

/* page about */
.block-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(117, 199, 117);
  margin: 2em 0 2em 0;
}
.title-about {
  background-color: rgb(45, 126, 45);
  border-radius: 20px;
  padding: 7px;
  width: auto;
  color: white;
}
.block-text-about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-about {
  width: 80%;
  text-align: justify;
}

/* partie show */
.blog-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5em 0 1em 0;
}
.blog-show-card {
  background-color: rgb(117, 199, 117);
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
}
.blog-show-title {
  text-align: center;
  font-weight: bold;
  color: rgba(192, 3, 3, 0.945);
}
.blog-show-text {
  text-align: justify;
}
.blog-show-btn {
  text-decoration: none;
  background-color: #444;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
}
.blog-show-btn:hover {
  background-color: #111;
}
em {
  color: rgba(192, 3, 3, 0.945);
  font-weight: bold;
}
