.page-register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(117, 199, 117);
  border-radius: 5px;
  width: 60%;
}
.register-form {
  display: flex;
  flex-direction: column;
}
label {
  display: inline-block;
  margin-bottom: 5px;
}
input {
  display: inline-block;
}
.register-input-form {
  display: flex;
  flex-direction: column;
}
.btn-register {
  background-color: rgb(14, 73, 139);
  border-color: rgb(14, 73, 139);
  color: white;
}
.register-input-button-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.register-titre-h2 {
  text-decoration: underline;
  text-align: center;
  color: rgb(14, 73, 139);
}
.message-form {
  text-align: center;
  color: rgba(192, 3, 3, 0.945);
}
/* partie login */

.page-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4em 0 1em 0;
}
.login-container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(117, 199, 117);
  border-radius: 5px;
  width: 60%;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.title-login-form {
  text-align: center;
  text-decoration: underline;
  color: rgb(14, 73, 139);
}
.login-form-block {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
.register-login-button-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.login-btn-form {
  background-color: rgb(14, 73, 139);
  border-color: rgb(14, 73, 139);
  color: white;
  padding: 4px;
}
.login-btn-form:hover {
  cursor: pointer;
  background-color: rgb(6, 28, 53);
}
