/* navbar home plus blog */
/* navHome-ul  navHome-li */
#navProfil {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 50px;
  width: 100%;
  background-color: rgb(230, 176, 0);
}
.navProfil-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  height: 100%;
}
.navProfil-li a {
  background-color: #cc5709;
  cursor: pointer;
  color: white;
  text-align: center;
  margin-right: 1em;
  padding: 0 2rem;
  text-decoration: none;
}
.navProfil-li a:hover {
  background-color: rgb(243, 69, 39);
  color: #111;
}
.navProfil-li-logout a {
  background-color: #970303;
  color: white;
  cursor: pointer;
  text-align: center;
  margin-right: 1em;
  padding: 0 2rem;
  text-decoration: none;
  border-radius: 5px;
}
.navProfil-li-logout a:hover {
  background-color: rgb(231, 0, 0);
}
.btn-profil {
  display: none;
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 5px;
  color: #000;
  font-size: 18px;
  width: 25px;
}
#image-profil {
  width: 30px;
}
#image-profil:hover {
  pointer-events: pointer;
}

@media screen and (max-width: 1100px) {
  .hidden {
    visibility: hidden;
  }
  .btn-profil {
    display: block;
  }
  .navProfil-ul {
    display: block;
    flex-direction: column;
  }
  .navProfil-li a {
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 45%;
  }
}
main {
  padding-top: 60px; /* Correspond à la taille du header */
  margin: 0 auto;
}
/* fin navbar */

/* page joueurs index */

.players-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}
.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.player-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 241, 143);
  border-radius: 1em;
  padding: 12px;
  width: 20em;
}
.player-identity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mark-playeur {
  font-weight: bold;
  color: rgb(13, 13, 102);
}
.player-title {
  font-weight: 900;
  color: rgb(13, 13, 102);
}
.player-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-player-detail {
  background-color: rgb(236, 93, 93);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-player-detail:hover {
  background-color: rgb(167, 4, 4);
}
.btn-player-modif {
  background-color: rgb(41, 178, 212);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-player-modif:hover {
  background-color: rgb(7, 97, 109);
}
@media screen and (max-width: 1100px) {
  .players-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .player-card {
    width: 15em;
  }
}

/* partie btn ajouter un joueur */

.add-player {
  margin: 1em 0 1em 0;
}
.btn-add-player {
  background-color: rgb(21, 172, 1);
  color: black;
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-add-player:hover {
  background-color: rgb(28, 94, 20);
  color: white;
}
#players-title-h1 {
  background-color: rgb(252, 241, 143);
  color: black;
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
  text-align: center;
}
@media screen and (max-width: 1100px) {
  #players-title-h1 {
    background-color: rgb(252, 241, 143);
    color: black;
    border-radius: 1em;
    font-size: 1.3em;
    text-decoration: none;
    padding: 0.2em;
    text-align: center;
  }
}
/* fin page joueurs index */
/* page show */

.player-container-show {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}
.player-card-show {
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 241, 143);
  border-radius: 1em;
  padding: 12px;
  width: 20em;
}
.btn-player-return {
  background-color: rgb(248, 215, 29);
  color: rgb(0, 0, 0);
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-player-return:hover {
  background-color: rgb(245, 110, 48);
}
.btn-container-return {
  margin-top: 1em;
}
.player-title-show {
  font-weight: 900;
  color: rgb(13, 13, 102);
  text-decoration: underline;
}
.btn-delete {
  background-color: rgb(151, 6, 6);
  border-color: rgb(151, 6, 6);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-delete:hover {
  background-color: rgb(233, 0, 0);
}
.btn-container-delete {
  margin-top: 1em;
}
@media screen and (max-width: 1100px) {
  .player-container-show {
    margin-top: 6em;
  }
}
@media screen and (max-width: 600px) {
  .player-container-show {
    margin-top: 6em;
  }
  .player-card-show {
    border-radius: 1em;
    padding: 10px;
    width: 18em;
  }
  .player-description-show p {
    text-align: justify;
  }
}
/* fin page show */
/* formulaire partie profil */
.container-form-profil {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin: auto;
}
.title-page-h1 {
  text-align: center;
}
form {
  width: 80%;
}
.profil-input-form {
  display: flex;
  flex-direction: column;
}
.profil-input-form label {
  margin-top: 1em;
}
.profil-input-genre {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1em;
}
.profil-input-form textarea {
  resize: vertical;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.profil-input-form input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.block-btn-return {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.block-btn-delete {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.block-btn-submit {
  display: flex;
  justify-content: flex-start;
  margin-top: 1em;
}
#btn-edit {
  background-color: rgb(17, 141, 17);
  padding: 5px;
  border-radius: 1em;
  color: #fff;
}
#btn-edit:hover {
  background-color: rgb(8, 61, 8);
  cursor: pointer;
}
.lien-a-return {
  color: rgb(129, 16, 16);
}
.lien-a-return:hover {
  cursor: pointer;
  color: rgb(55, 55, 245);
}
.block-btn-delete form button {
  cursor: pointer;
}

/* partie match */

.page-match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.matchs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 2em;
  margin-bottom: 1em;
}
.match-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(252, 241, 143);
  border-radius: 1em;
  padding: 12px;
  width: 20em;
}
.match-container-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.match-tournament {
  font-weight: bold;
  color: rgb(13, 13, 102);
}
.add-match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 1em 0;
}
.btn-player-modif {
  background-color: rgb(41, 178, 212);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-player-modif:hover {
  background-color: rgb(7, 97, 109);
}
.btn-container-match {
  margin: 0.5em 0 1em 0;
}
.match-winner {
  font-weight: 400;
  color: rgb(41, 178, 212);
  font-size: 1.4em;
}
.match-type-tournament {
  font-weight: 400;
  color: rgb(236, 93, 93);
  font-size: 1.3em;
}
.match-title-h1 {
  font-weight: 400;
  color: rgb(236, 93, 93);
  font-size: 1.3em;
}
@media screen and (max-width: 1100px) {
  .matchs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .match-card {
    width: 15em;
  }
}

/* fin partie match */

/* formulaire match */
.container-form-match {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-match {
  display: flex;
  justify-content: center;
  background-color: rgb(252, 241, 143);
  border-radius: 1em;
  padding: 12px;
  width: 20em;
}
.form-profil-block {
  margin-top: 1em;
  margin-bottom: 1em;
}
.form-profil-block label {
  color: rgb(55, 55, 245);
  font-weight: bold;
}
.form-profil-block-tournoi label {
  color: rgb(1, 1, 1);
  font-weight: normal;
}
#color-label-match {
  color: rgb(55, 55, 245);
  font-weight: bold;
}
.block-match-return {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 1em 0;
}
.block-match-return a {
  color: rgb(129, 16, 16);
  text-decoration: none;
}
.block-match-return a:hover {
  color: rgb(55, 55, 245);
  text-decoration: underline;
}
.match-title-h1 {
  text-align: center;
  font-weight: 900;
  color: rgb(236, 93, 93);
  font-size: 1.6em;
}
.container-btn-add {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* partie perso de l'utilisateur */

.block-user-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-profil-user {
  background-color: rgb(209, 206, 6);
  text-align: center;
  border-radius: 20px;
  padding: 7px;
  width: 30%;
  color: rgb(0, 0, 0);
}
.container-btn-profil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-profil-user {
  margin-bottom: 1em;
}
.btn-profil-user a {
  text-align: center;
  background-color: rgb(41, 178, 212);
  color: rgb(255, 255, 255);
  border-radius: 1em;
  text-decoration: none;
  padding: 0.4em;
}
.btn-profil-user a:hover {
  background-color: rgb(1, 108, 134);
  cursor: pointer;
}
.container-btn-profil {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1100px) {
  .form-match {
    width: 16em;
  }
  .match-title-h1 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 680px) {
  #title-profil-user {
    width: 90%;
  }
}
/* partie pass profil utilisateur */

.form-pass-profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-pass-profil form input {
  display: inline-block;
  border-color: rgb(1, 108, 134);
  width: 80%;
}
.form-pass-profil form label {
  color: black;
}
.container-page-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 1em 0 1em 0;
}
.block-form-pass {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.form-pass-profil {
  display: flex;
  background-color: rgb(252, 241, 143);
  border-radius: 10px;
  width: auto;
  padding: 0.5em;
}
.btn-form-profil {
  margin-top: 10px;
  background-color: rgb(216, 119, 8);
  border-color: rgb(216, 119, 8);
  border-radius: 3px;
  color: rgb(0, 0, 0);
}
.btn-form-profil:hover {
  background-color: rgb(231, 27, 0);
  cursor: pointer;
}
.block-btn-profil a {
  color: rgb(231, 27, 0);
  text-decoration: none;
}
.block-btn-profil a:hover {
  text-decoration: underline;
}
#title-page-profil-info {
  color: rgb(231, 27, 0);
  text-align: center;
  font-size: 21px;
}
