<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Tennis App{% endblock %}</title>                
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}            
        {% endblock %}      
    </head>
    <body>
        {% block body %}
            <div id="app"></div>
        
            {% block javascripts %}
                {{ encore_entry_script_tags('app') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
